{
	"printWidth": 100,
	"tabWidth": 2,
	"semi": false,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"useTabs": true
}
